*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #e5e4ea !important;
}

/* navbar */
.navbar {
    z-index: 100;
    background-color: #a69bab;
}
.navbar-brand{
    width: 22vh;
}
.navbar-toggler{
    margin: 2%;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.navbar:hover {
    opacity: 1 !important;
    background-color: #4c4545 !important;
}
.dropdown-menu .dropdown-item:hover{
    background-color: #8383db;
}

/* container */
.container{
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(45deg, black, transparent);
    width: 25% !important;
    box-shadow: 2px 1px 5px 2px #514d4d;
    color: white;
}
@media screen and (max-width:992px) {
    .container{
        width: 50% !important;
        margin-top: 10% !important;
    }
}
.contentLogin{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 80%;
}
.mobile ,.name , .password{
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px white solid;
}
.signUpInp{
    border: none;
    border-radius: 20px;
}
.signUpInp:hover{
    background-color: black;
    color: white;
}
.toLogin{
    text-decoration: none; 
    color:black; 
}
.toLogin:hover{
    color: white;
}

/* footer */
.footer{
    width: 100%;
    margin-top: 100px;
    position: absolute;
    bottom: 0;
    background-color: #a69bab;
}
.footer ul li a{
    color: black;
}